/**
 * SPDX-FileCopyrightText: 2024 Your Name <admin@example.com>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/**
 * Admin settings styles
 */

#federatedtalklink-admin-settings {
    max-width: 900px;
    padding: 20px;
}
